/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

/* < =========== pixabay-api =========== > */

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-search {
  display: flex;
  flex-direction: row;
  gap: 8px;
  padding: 32px 0;
}

.keywords {
  box-sizing: border-box;
  width: 272px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #808080;
  background-color: #fff;
  color: #2e2f42;
  font-weight: 400;
  padding: 8px 16px;
  transition: border-color 250ms linear;
}

.keywords::placeholder {
  color: #808080;
}

.keywords:hover {
  border-color: #000;
}

.btn {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  max-width: 125px;
  color: #fff;
  font-weight: 500;
  border-radius: 8px;
  background-color: #4e75ff;
  border: none;
  cursor: pointer;
  transition: background-color 250ms linear, cursor 250ms linear;
}

.btn:hover {
  background-color: #6c8cff;
}

.loading-text {
  font-weight: 400;
  color: #2e2f42;
  text-align: center;
}
/* < =========== render-functions =========== > */

.gallery-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
  margin-right: auto;
  margin-left: auto;
}

.gallery-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.gallery-item {
  border: 1px solid #2e2f42;
  border-radius: 3px;
  width: 360px;
}

.gallery-info {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  max-width: 360px;
  padding: 12px;
}

.column {
  text-align: center;
  font-size: 12px;
}

h2 {
  text-transform: capitalize;
  font-size: 14px;
}

/* < ========== CSS Loaders & Spinners ========== > */

.loader {
  position: relative;
  display: flex;
}

.loader:before,
.loader:after {
  content: '';
  width: 15px;
  height: 15px;
  display: inline-block;
  position: relative;
  margin: 0 5px;
  border-radius: 50%;
  color: #8da0e4;
  background: currentColor;
  box-shadow: 50px 0, -50px 0;
  animation: left 1s infinite ease-in-out;
}

.loader:after {
  color: #4e75ff;
  animation: right 1.1s infinite ease-in-out;
}

@keyframes right {
  0%,
  100% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(10px);
  }
}

@keyframes left {
  0%,
  100% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(-10px);
  }
}
